.category-list {}

.category-list table {
	width: 100%;
	border-spacing: 0;
}

.category-list table tr {}

.category-list table tr th {
	text-align: left;
}

.category-list table tr td {}

.category-list table tr td:nth-child(1) {
	width: 20px;
}

.category-list table tr td:nth-child(3) {
	width: 80px;
}

.category-list table tr td:nth-child(4) {
    width: 20px;
    text-align: center;
}

.category-list table tr td:nth-child(5) {
	text-align: center;
	width: 100px;
}
