@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import "body-style.css";
@import "frames-style.css";

@import "article-add.css";
@import "article-list.css";

@import "product-list.css";

@import "user-list.css";

@import "category-list.css";

@import "cke.css";

.spacer150 { height: 150px; }
.spacer120 { height: 120px; }
.spacer90 { height: 90px; }
.spacer60 { height: 60px; }
.spacer30 { height: 30px; }
.spacer15 { height: 15px; }


html {
	min-height: 100%;
}

body {
	max-width: 1170px;
	padding: 0 15px 0;
	margin: 0 auto 50px;
	background-color: rgb(75,75,75);
	background: url('../images/bg.jpg') center fixed;
	font-family: "Lato", "Lucida Grande", Verdana, Arial, sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* SISTEMA DE LOGIN */
#wrapper {
	height: 150px;
}

#login {
	width: 440px;
	margin: 0 auto 50px;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#login #header {
	height: 118px;
	background-image: url(../images/logo.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

#login #container #sucess {
	background-image: url(../images/Check-icon.png);
	background-position: 7px center;
	background-repeat: no-repeat;
	line-height: 48px;
	padding-left: 48px;
	padding-right: 10px;
	color: #FFFFFF;
}

#login #container #error {
	background-color: pink;
	background-image: url(../images/Delete-icon.png);
	background-position: 7px center;
	background-repeat: no-repeat;
	line-height: 48px;
	padding-left: 48px;
	padding-right: 10px;
	border-top: 1px solid #FFECEC;
	border-bottom: 1px solid #FF4F4F;
}

#login #container #fields div {
	padding-top: 10px;
	padding-bottom: 10px;
}

#login #container #fields div input {
	margin: 0 45px 0 45px;
	width: 350px;
	height: 40px;
	border: none;
	border-radius: 15px;
	text-align: center;
	outline: 0;
}

#login #container #fields div input[name=loginUsername] {}

#login #container #fields div input[name=loginPassword] {}

#login #container #buttons {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #CCC;
	background-image: url(../images/buttonsLoginBackground.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

#login #container #buttons #buttonlogin {
	float: left;
	width: 50%;
}

#login #container #buttons #buttonreset {
	float: right;
	width: 50%;
}

#login #container #buttons button {
	width: 100%;
	height: 85px;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-size: 15pt;
	font-weight: bold;
	color: #CCCCCC;
	cursor: pointer;
}

#login #container #buttons button:hover {
	color: #fff;
	text-shadow: 0 2px 3px black;
}

/* sistema de backoffice*/
#site {
	width: 100%;
	min-height: 100%;
	margin: auto;
}

#site #header {
	height: 118px;
	background-image: url(../images/logoBO2.png);
	background-color: rgb(34, 34, 34);
	background-position: left bottom;
	background-repeat: no-repeat;
}

#site #container {
	background-repeat: repeat-x;
	background-position: left top;
	display: inline-block;
	max-width: 100%;
	margin: 1px 0 0 0;
}

#site #container #title-bar {
	display: inline-block;
	clear: both;
	width: 100%;
	background: rgb(34, 34, 34);
}

#site #container #title-bar div {
	line-height: 50px;
	font-size: 13pt;
	font-weight: bold;
	text-transform: uppercase;
}

#site #container #title-bar #site-title {
	float: left;
	width: 605px;
	padding-left: 60px;
	padding-right: 20px;
}

#site #container #title-bar #site-title a {
	color: rgb(255,147,0);
	font-weight: bold;
	font-size: 13pt;
}

#site #container #title-bar #menu-title {
	float: right;
	width: 310px;
	padding-left: 15px;
	padding-right: 10px;
	color: #fff;
}

#site #container #page {
	float: left;
	width: 805px;
	margin-top: 10px;
	padding: 15px;
	background-color: rgb(255,255,255);
	font-size: 10pt;
}

#site #container #menu {
	float: right;
	margin: 10px 0 0 0;
	width: 320px;
	font-size: 10pt;
}

#site #container #menu h3 {
	font-weight: normal;
	background-color: rgb(34, 34, 34);
	color: #fff;
	font-size: 1.4em;
	text-transform: uppercase;
	padding: 1rem;
	margin: 15px 0 15px;
}

#site #container #menu a {
	display: block;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 10px;
	text-decoration: none;
	color: #000;
	background-color: rgb(255, 255, 255);
}

#site #container #menu a:hover {
	background-color: rgb(250, 162, 38);
	color: #fff;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.08);
}

#site #container #menu ul li.selected {
	border-left: 4px solid rgb(250, 162, 38);
	border-right: 4px solid rgb(250, 162, 38);
}

#site #wrap {
	clear: both;
	height: 60px;
}

body #footer {
	clear: both;
	display: inline-block;
	margin-top: -50px;
	background-color: rgb(34, 34, 34);
	width: 100%;
}

body #footer #copyright {
	float: left;
	width: 625px;
	padding-left: 20px;
	margin-top: 12px;
	color: rgb(154,154,154);
}

body #footer #copyright a {
	font-size: 10pt;
	color: rgb(154,154,154);
	text-decoration: none;
}

body #footer #copyright a:hover {
	cursor: pointer;
	color: rgb(200,200,200);
}

body #footer #c {
	float: right;
	width: 175px;
	padding-left: 15px;
	padding-right: 10px;
	line-height: 50px;
	font-size: inherit;
	color: rgb(154,154,154);
	border-left: 1px solid #d35400;
	background-position: left top;
	background-repeat: repeat-y;
}

body #footer #c span {
	font-weight: bold;
}

iframe.ads {
	border: none;
	width: 768px;
	height: 130px;
	margin: 5px auto;
	display: block;
}

/* class here */

.pageTitle {
	background-color: rgb(255, 147, 0);
	color: rgb(255, 255, 255);
	font-size: 13pt;
	font-weight: 400;
	line-height: 30px;
	margin:-15px -15px 0;
	padding: 7px;
	text-align: center;
	border: 0px;
}

.sectionTitle {
	border-left: 5px solid #FF9132;
	font-size: 12pt;
	padding-left: 7px;
	margin-bottom: 7px;
	font-weight: 400;
	text-transform: capitalize;
}

.taleft {
	text-align: left;
}

.tacenter {
	text-align: center;
}

.taright {
	text-align: right;
}
